@use "sass:color";

$blanco: rgb(255,255,255);
$negro: rgb(0,0,0);
$acuaMarina: rgb(52,97,84);
$verdeClaro: rgb(114,163,125);
$verdeOscuro: rgb(9,58,9);
$verdeBox: rgb(108,129,108);

$font-lora: 'Lora';
